name: Tests

on: [push]

jobs:
  osx:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run tests
      run: swift test
  xenial_5-1:
    container: 
      image: swift:5.1-xenial
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: swift test --enable-test-discovery
  bionic_5-1:
    container: 
      image: swift:5.1-bionic
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: swift test --enable-test-discovery
  xenial_5-2:
    container: 
      image: swift:5.2-xenial
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: swift test --enable-test-discovery
  bionic_5-2:
    container:
      image: swift:5.2-bionic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: swift test --enable-test-discovery
