name: Tests

on: 
  pull_request:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:6.0-focal
          - swift:6.0-jammy
          - swift:6.1-jammy
          - swift:6.1-noble
          - swift:6.2-jammy
          - swift:6.2-noble
    container: 
      image: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Run tests
      run: swift test --enable-test-discovery
  osx:
    runs-on: macOS-latest
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with: { 'xcode-version': 'latest' }
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        run: swift test --enable-test-discovery
